#menu{
	padding:0;
}
#menu li{
	display:inline;
}
#menu li a{
	color:#fff;
	text-decoration:none;
	background-color:#000;
	padding:10px 20px;
	font-size:15px;
	transition:all 1s ease;
}
#menu li a:hover{
	background:red;
	color:#000;
}


.ullist{
	padding:0px;
	list-style-type:none;
	width:960px;
	background:#4E4E4E;
	border-bottom:5px solid orange;
	min-height:43px;
	margin:0 auto;
}
.ullist li{
	float:left;
	border-right:1px solid #605B5B;
	border-left:1px solid #2B2A2A;
}
.ullist li:last-child{
	border-right:none;
}
.ullist li:first-child{
	border-left:none;
}
.ullist li a{
	color:#fff;
	background-color:#4E4E4E;
	text-decoration:none;
	padding:10px 20px;
	display:block;
	font-size:18px;
	transition:all 0.5s ease;
}
.ullist li a:hover{
	background:orange;;
	color:#000;
}


.menu1{
	padding:0px;
	list-style-type:none;
	width:960px;
	margin:0 auto;
	background:#4E4E4E;
	border-bottom:5px solid orange;
	min-height:38px;
}
.menu1 li{
	float:left;
	border-right:1px solid #605B5B;
	border-left:1px solid #2B2A2A;
	position:relative;
}
.menu1 li:first-child{
	border-left:none;
}
.menu1 li:last-child{
	border-right:none;
}
.menu1 li a{
	color:#fff;
	background:#4E4E4E;
	text-decoration:none;
	display:block;
	padding:10px 20px;
	transition:all 1s ease;
}
.menu1 li a:hover{
	color:#000;
	background:orange;
}


.menu1 li ul{
	padding:0;
	list-style-type:none;
	position:absolute;
	left:-99999px;
	transition:all 0.4s ease;
}
.menu1 li:hover ul{
	left:0;
}
.menu1 li ul li{
	float:none;
	border-left:none;
	border-right:none;
	border-top:1px solid #2B2A2A;
	border-bottom:1px solid #605B5B;
}
.menu1 li ul li:first-child{
	border-top:none;
}
.menu1 li ul li:last-child{
	border-bottom:none;
}